.pickUpText {
  text-align: center;
  margin-top: 20px;
}
.deleteBtnRight {
  text-align: right;
  padding-bottom: 21px;
}
.timeText {
  padding-left: 10px;
  text-align: left;
}
.mapPic {
  background-image: url('./img/NagleParking.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  width: 100%;
}
.pickupInformation {
  /* text-align: center; */
  margin: 0 auto;
}
.scheduleBtn {
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 40%;
  /* float: right; */
}
.pickupMainRow {
  /* margin-top: 30px; */
  margin: 0;
}
