.footer {
  padding: 60px 0px;
  background-color: #3a3a49;
  color: white;
}

.copyright-row {
  margin-top: 50px;
  border-top: dotted white 1px;
  padding-top: 20px;
}

.footerlogo {
  margin-top: 15px;
}

.copyright {
  margin-top: 25px;
}

.social-control {
  margin-top: 10px;
}

.footer-title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.instagram {
  /* background-image: url('./img/instagram.png'); */
  width: 37px;
  height: auto;
  margin-left: 10px;
}

.facebook {
  /* background-image: url('./img/instagram.png'); */
  width: auto;
  height: 35px;
}

.facebook:hover, .instagram:hover {
  height: 45px;
  width: auto;
}