.text-review {
  color: rgb(255, 255, 255);
  /* background-color: rgb(255, 233, 110); */
  padding: 2px;
  text-align: center;
  max-width: 350px;
  margin: 10px auto;
  font-weight: bold;
  border-radius: 15px;
}

.text-review:hover {
  color: rgb(249, 251, 253);
}
