.signUpFormCon {
  background-image: url('https://images.pexels.com/photos/2996/parking-parking-lot-underground-garage.jpg?cs=srgb&dl=parken-parkplatz-tiefgarage-2996.jpg&fm=jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 10%;
}
.signUpformWidth {
  margin-top: 10%;
  margin-left: 25%;
  text-align: center;

  border: 1px solid rgb(78, 78, 78);
  height: auto;
  background-color: grey;
  width: 49%;
  padding: 20px;
  border-radius: 30px;
}

.form-control {
  width: 75%;
  margin: 30px auto;
}

.signInTextinForm {
  margin-top: 30px;
  text-align: center;
}
.signUpButton {
  width: 185px;
  margin: 30px auto;
}
.faviconPosition {
  padding-top: 35px;
  font-size: 20px;
  padding-left: 10px;
  /* color: rgb(112, 178, 216); */
}
